.#*
#ignore thumbnails created by windows
Thumbs.db
###LaTeX###

*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
Output/*

# Mac 
*.DS_Store
#ignore EMACS region previews
_region_*
*.fmt
#ignore RefTeX parse files
*.rel
Exported Items.bib
